:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --section-title-color: #353430;
  --title-color: #ffc2e6;
  --header-color: var(--section-header-color);
  --text-color: #353430;
}

:root.theme-light .header__decorative-text {
  display: none;
}
