:root {
  --padding: clamp(10px, 0.46px + 2.54vw, 20px);
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --accent-color: #ff0070;
  --section-header-color: var(--accent-color);
  --title-color: #db00ff;
  --header-color: #000028;
}
